body,
html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: url(header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 40px;
  color: #e2dbdb;
}

hr {
  border-color: #f05f44;
  border-width: 3px;
  max-width: 65px;
}

.buffer {
  height: 90px;
}

.buffer2 {
  height: 30px;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #f05f44;
  border: 1px solid #f05f44;
}

.btn-primary:hover {
  background-color: #a34c2a;
  border: 1px solid #a34c2a;
}

.btn-xl {
  padding: 1rem 2rem;
}
